
<!-- contact -->
<section class="contact" id="contact">
    <h1>SHOPINO</h1>
    <social >
      <a href="/"><i class="fab fa-twitter icon"></i></a>
      <a href="/"><i class="fab fa-facebook-f icon"></i></a>
      <a href="/"><i class="fab fa-instagram icon"></i></a>
      <a href="/"><i class="fas fa-envelope icon"></i></a>
      
    </social>
    <h2>Contact Us</h2>
    <p>Phone: +91 8109314220</p>
    <p>Email: shay.ag13200@gmail.com</p>
    <h6>Copyright &copy; Shopino 2021</h6>
    <p>Made with <i class="fas fa-heart"></i> by Shay Ag</p>
  </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <script src="JS/logic.js"></script>
</body>
</html>